{% load static %}

{% block home %}
<!--START HOME-->
<section class="section bg-home home-half" id="home" data-image-src="images/bg-home.jpg">
    <div class="bg-overlay"></div>
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-white text-center">
                        <h1 class="home-title">NuevaDato | Análisis de datos de forma fácil</h1>
                        <p class="pt-3 home-desc">Queremos simplificar el análisis de datos al máximo, eliminando la necesidad de contratar a expertos para llevarlo a cabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-effect wave-anim">
        <div class="waves-shape shape-one">
            <div class="wave wave-one">
                <svg width="2000" height="100" viewBox="0 0 2000 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M471 45C263 -22.2 71 18.6667 1 47.5V119H1999.5V34.5C1917.9 85.3 1823.83 68.3333 1787 53.5C1721.8 25.1 1603.17 9.33333 1552 4.99999C1366.4 -12.6 1172.67 34.3333 1099 60C1014.6 91.6 831.833 97.5 751 96.5C664.6 96.5 528.333 62.1667 471 45Z" fill="white" stroke="white" />
                </svg>
            </div>
        </div>
        <div class="waves-shape shape-two">
            <div class="wave wave-two">
                <!-- <svg width="2003" height="169" viewBox="0 0 2003 169" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M492 71C280.8 -46.6 76.6667 11 1 54V168H2002V53C1854 122.6 1730.33 106.667 1687 90C1395.8 -45.2 1089.67 31.6667 973 88C773 146.4 569 101 492 71Z" fill="white" stroke="white" />
                </svg> -->
            </div>
        </div>
        <div class="waves-shape shape-three">
            <div class="wave wave-three">
                <!-- <svg width="2002" height="216" viewBox="0 0 2002 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M472 50C254.4 -39.6 67.3333 13.6666 1 51V215H2001V49C1803.4 180.2 1646.67 155 1593 126C1401.8 10.8 1174.67 54 1085 90C847.4 185.2 577.333 103 472 50Z" fill="white" stroke="white" />
                </svg> -->

            </div>
        </div>
    </div>
</section>
<!--END HOME-->
{% endblock home %}

