django
Django
openai
langchain
xhtml2pdf
django-storages
google-cloud-storage
tiktoken
PyPDF2
python-dotenv
faiss-cpu
langchain-experimental
gunicorn
whitenoise
pandas
matplotlib
tabulate
xlrd
mysqlclient
pymysql