{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Comprar Máxima - NuevaDato</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Subir archivos a NuevaDato" />
    <meta name="keywords" content="subir archivos, NuevaDato" />
    <meta content="Themesbrand" name="author" />
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Iconos -->
    <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7-stroke.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/colors/red.css' %}" id="color-opt">
</head>
<body>
    <div class="account-home-btn d-none d-sm-block">
        <a href="/" class="text-white"><i class="mdi mdi-home h1"></i></a>
    </div>

    <section class="bg-account-pages vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card account-card">
                        <div class="card-body">
                            <h3>Plan máxima</h3>
                            <p>$30 USD</p>
                            <div id="paypal-button-container-P-0SW72737J5937312XMV3WFSQ"></div>
                            <script src="https://www.paypal.com/sdk/js?client-id=AVSZKoKtrHfZxsLtJnHZKuFIQYAUD8MT_6VK3zT2NgwC6gcD3Gq-FjRkYERek_Par6KrCQB2isyhoGX3&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                            <script>
                            paypal.Buttons({
                                style: {
                                    shape: 'rect',
                                    color: 'black',
                                    layout: 'vertical',
                                    label: 'subscribe'
                                },
                                createSubscription: function(data, actions) {
                                    return actions.subscription.create({
                                    /* Creates the subscription */
                                    plan_id: 'P-0SW72737J5937312XMV3WFSQ'
                                    });
                                },
                                onApprove: function(data, actions) {
                                    alert(data.subscriptionID); // You can add optional success message for the subscriber here
                                }
                            }).render('#paypal-button-container-P-0SW72737J5937312XMV3WFSQ'); // Renders the PayPal button
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/gumshoe.polyfills.min.js' %}"></script>
    <!-- Principal Js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
