{% load static %}

{% block footer %}
<!--INICIO PIE DE PÁGINA-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-4">
                <h4>NuevaDato</h4>
                <div class="text-muted mt-4">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Carreras</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <h4>Información</h4>
                <div class="text-muted mt-4">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Trabajos</a></li>
                        <li><a href="#">Marcadores</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <h4>Soporte</h4>
                <div class=" mt-4">
                    <ul class="list-unstyled footer-list">
                        <li><a href="">Preguntas frecuentes</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Discusión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FIN PIE DE PÁGINA-->

<!--INICIO PIE DE PÁGINA ALTERNATIVO-->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-start pull-none">
                    <p class="copy-rights text-muted">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> © NuevaDato
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--FIN PIE DE PÁGINA ALTERNATIVO-->
{% endblock footer %}
