{% load static %}

{% block pricing %}

    <!--INICIO DE TARIFAS-->
    <section class="section pt-5" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">Nuestras Tarifas</h1>
                    <div class="section-title-border mt-3"></div>
                    <p class="section-subtitle font-secondary text-muted text-center pt-4">Nuestros precios.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Económica</h4>
                        <h1>$10 USD</h1>
                        <h6 class="text-uppercase text-muted">Facturación Mensual</h6>
                        <div class="pricing-border"></div>
                        <div class="plan-features mt-4">
                            <p>Tipos de archivos a subir: <b class="text-primary">CSV</b></p>
                            <p>Cantidad de archivos mensuales: <b class="text-primary">Ilimitados</b></p>
                            <p>Soporte: <b class="text-primary">No</b></p>
                        </div>
                        <a href="{% url 'comprar_economica' %}" class="btn btn-primary  mt-4">Únete Ahora</a>
                    </div>
                </div>
                <!-- fin col -->
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Deluxe</h4>
                        <h1>$20 USD</h1>
                        <h6 class="text-uppercase text-muted">Facturación Mensual</h6>
                        <div class="pricing-border"></div>
                        <div class="plan-features mt-4">
                            <p>Tipos de archivos a subir: <b class="text-primary">CSV y PDF</b></p>
                            <p>Cantidad de archivos mensuales: <b class="text-primary">Ilimitados</b></p>
                            <p>Soporte: <b class="text-primary">Sí</b></p>
                        </div>
                        <a href="{% url 'comprar_deluxe' %}" class="btn btn-primary  mt-4">Únete Ahora</a>
                    </div>
                </div>
                <!-- fin col -->
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Máxima</h4>
                        <h1>$30 USD</h1>
                        <h6 class="text-uppercase text-muted">Facturación Mensual</h6>
                        <div class="plan-features mt-4">
                            <p>Tipos de archivos a subir: <b class="text-primary">CSV, PDF y EXCEL (XLS)</b></p>
                            <p>Cantidad de archivos mensuales: <b class="text-primary">Ilimitados</b></p>
                            <p>Soporte: <b class="text-primary">24/7</b></p>
                        </div>
                        <a href="{% url 'comprar_maxima' %}" class="btn btn-primary  mt-4">Únete Ahora</a>
                    </div>
                </div>
                <!-- fin col -->
            </div>
            <!-- fin fila -->
        </div>
    </section>
    <!--FIN DE TARIFAS-->
{% endblock pricing %}
