{% load static %}

{% block process %}

    <!--INICIO DEL PROCESO-->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">Proceso de Trabajo</h1>
                    <div class="section-title-border mt-3"></div>
                    <p class="section-subtitle text-muted text-center font-secondary pt-4">Queremos hacerte la vida fácil.</p>
                </div>
                <!-- fin col -->
            </div>
            <!-- fin fila -->
            <div class="row">
                <div class="col-lg-6 text-center process-left-icon-1">
                    <i class="pe-7s-angle-right"></i>
                </div>
                <div class="col-lg-6 text-center process-left-icon-2">
                    <i class="pe-7s-angle-right"></i>
                </div>
                <div class="col-lg-6 text-center process-left-icon-3">
                    <i class="pe-7s-angle-left"></i>
                </div>
                <div class="col-lg-6 text-center process-left-icon-4">
                    <i class="pe-7s-angle-left"></i>
                </div>
            </div>
            <!-- fin fila -->
            <div class="row mt-5">
                <div class="col-lg-4 plan-line">
                    <div class="text-center process-box">
                        <i class="pe-7s-pen text-primary"></i>
                        <h4 class="pt-3">Cuéntanos lo que necesitas</h4>
                        <p class="text-muted">Contáctanos y te daremos una respuesta.</p>
                    </div>
                </div>
                <!-- fin col -->
                <div class="col-lg-4 plan-line">
                    <div class="text-center process-box">
                        <i class="pe-7s-id text-primary"></i>
                        <h4 class="pt-3">Obtén cotizaciones gratuitas</h4>
                        <p class="text-muted">Cotiza nuestros productos de forma gratuita.</p>
                    </div>
                </div>
                <!-- fin col -->
                <div class="col-lg-4">
                    <div class="text-center process-box">
                        <i class="pe-7s-target text-primary"></i>
                        <h4 class="pt-3">Entrega de un producto de alta calidad</h4>
                        <p class="text-muted">Y finalmente te habilitamos el servicio.</p>
                    </div>
                </div>
                <!-- fin col -->
                <div class="text-center mx-auto">
                    <a href="#" class="btn btn-primary waves-light waves-effect mt-5">Empezar <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
            <!-- fin fila -->
        </div>
    </section>
    <!--FIN DEL PROCESO-->
{% endblock process %}
