{% load static %}

{% block services %}
<!--INICIO DE SERVICIOS-->
<section class="section pt-5" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Nuestros Servicios</h1>
                <div class="section-title-border mt-3"></div>
                <p class="section-subtitle text-muted text-center pt-4 font-secondary">Chatea con un excel.</p>
            </div>
            <!-- fin col -->
        </div>
        <!-- fin fila -->
        <div class="row mt-4">
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-diamond text-primary"></i>
                    <h4 class="pt-3">Diseño amigable</h4>
                    <p class="pt-3 text-muted">El diseño de nuestra página es amigable y fácil de usar.</p>
                </div>
            </div>
            <!-- fin col -->
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-display2 text-primary"></i>
                    <h4 class="pt-3">Chatea con un excel, así es, ¡con un excel!</h4>
                    <p class="pt-3 text-muted">Sube el archivo que necesites (PDF, EXCEL, CSV, ETC.) y hazle preguntas, nuestra IA te responderá.</p>
                </div>
            </div>
            <!-- fin col -->
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-piggy text-primary"></i>
                    <h4 class="pt-3">Directo al grano</h4>
                    <p class="pt-3 text-muted">Sin precios ocultos, no te preocupes.</p>
                </div>
            </div>
            <!-- fin col -->
        </div>
        <!-- fin fila -->
        <div class="row mt-4">
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-science text-primary"></i>
                    <h4 class="pt-3">Soporte increíble</h4>
                    <p class="pt-3 text-muted">Responderemos de la forma más rápida y efectiva posible.</p>
                </div>
            </div>
            <!-- fin col -->
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-news-paper text-primary"></i>
                    <h4 class="pt-3">Verdaderamente 24/7</h4>
                    <p class="pt-3 text-muted">Los robots no duermen.</p>
                </div>
            </div>
            <!-- fin col -->
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center hover-effect">
                    <i class="pe-7s-plane text-primary"></i>
                    <h4 class="pt-3">Fácil de Personalizar</h4>
                    <p class="pt-3 text-muted">Amigable y fácil de personalizar.</p>
                </div>
            </div>
            <!-- fin col -->
        </div>
        <!-- fin fila -->
    </div>
</section>
<!--FIN DE SERVICIOS-->
{% endblock services %}
